/* Here is whre the body styles start */

body {
    background: rgb(252,120,242);
    background: linear-gradient(142deg, rgba(252,120,242,1) 0%, rgba(170,165,247,1) 50%, rgba(37,238,255,1) 86%);

}


.container {
    /* margin-top: 0; */
    width: 1000px;
    margin: 0 auto;
    background-color: #1c1c1c;
    border: 1px solid black;
    padding: .5em 2em;
    margin-top: 10px; 
    font-family: $normaltext;
   
}



ul {
    margin: 0 0 1em 0;
    padding: 0 0 0 2.5em;
}
li {
    margin: 0;
    padding: 0;
}

form {
    margin: 0;
}
br {
    clear: left;
}
/* the styles for classes */
.right {
    text-align: right;
}
.last_paragraph {
	margin-bottom: 2em;	
}
.margin_top_increase {
	margin-top: 1em;	
}

#add_record_form {
    margin: .5em 0 1em;
}
#add_record_form label {
    width: 6em;
    padding-right: 1em;
    padding-bottom: .5em;
    float: left;
}
#add_record_form input {
    float: left;
}
#add_record_form input[text] {
    width: 15em;
}

.group:after {
    content: "";
    display: table;
    clear: both;
  }

 .tasklist{ 
  tr {
    border-radius: 25px;
    background-color: white;
    border-color: #1c1c1c;
    border-width: 5px;
    padding: 0.5rem 0.5rem;
  }
}

.categorieslist {
    tr{
        background-color: white;
        border-color: white;
        border-width: 5px;
    }
}