/* Here is whre the font styles start */


h1 {
    font-size: 200%;
    margin: 0;
    padding: .5em 0 .25em;
    font-family: 'Rubik Gemstones', cursive;
}
h2 {
    font-size: 120%;
    margin: 0;
    padding: .25em 0 .5em;
    font-family: 'Rubik Gemstones', cursive;
}
h1, h2 {
    color: white;
}

label {
    color: white;
}

.cate {
    font-size: 40px;
}