/* Here is whre the header styles start */

header {
    margin: 0;
    h1 {
       font-family: 'Rubik Gemstones', cursive;
        margin: 0;
        padding: .5em 0;
        color: white;

    }
}

nav {

    ul {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        li {
            padding-bottom: 0.5em;
        }
    }
}


.topnav {
    overflow: hidden;
    background-color: white;
    border-radius: 25px;
   
  }
  
  .topnav a {
    float: left;
    color: #1c1c1c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgba(37,238,255,1);
    color: white;
  }
  
  .topnav a.active {
    background-color: rgb(252, 120, 242);
    color: #1c1c1c;
  }
