/* Here is whre the sidebar styles start */

aside {
    float: left;
    width: 150px;

    // Medium devices (tablets, 768px and less)
@media (max-width: 768px) {
  width: 100%;
  
}
}

.catbtn
{
    width: 75%;
    @media (max-width: 768px) {
        width: 90%;

      }
}

li {
    @media (max-width: 768px) {
        display: inline-block;
        width: 32%;
        
      }
}

nav {
    @media (max-width: 768px) {
        padding-left: 25px;
        
      }
}